@import "tailwindcss";

body {
  background: radial-gradient(
    circle at top,
    #141421,
    #0b0b0f 60%
  );
  color: white;
  font-family: Inter, sans-serif;
}

/* Glass card */
.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
}

/* Neon accent */
.neon {
  box-shadow: 0 0 20px rgba(124, 58, 237, 0.4);
}
